$colorSelectSite: #f16d7f;
$widthSite: 1140px;
$backBlock: #222;
$colorText: #000;
$gapGrid: 30px;
$thirdSite: ($widthSite - $gapGrid) / 3;
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.center{
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.product{
    width: $thirdSite;
    display: flex;
    flex-direction: column;
    &_img{
        width: 100%;
    }
    &_content{
    background-color: #f8f8f8;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
    &_name{
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }
&_text{
    font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
        width: 330px;
}
    &_price{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #f16d7f;
    }
}



.header{
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header_left{
display: flex;
align-items: center;
gap: 41px;
}

.top-head{
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.top-head_heading{
    font-weight: 400;
font-style: normal;
font-size: 24px;
line-height: 29px;
color: $colorSelectSite;
}

.breadcrumbs_link{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumbs_link_site{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $colorSelectSite;
}


}
